
@model Ictshop.Models.Donhang

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết đơn hàng</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nguoidung.Hoten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nguoidung.Hoten)
        </dd>
       

        <dt>
            @Html.DisplayNameFor(model => model.Tongtien)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tongtien)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ngaydat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaydat)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Tinhtrang)*@
            Tình trạng đơn hàng
        </dt>

        <dd>
            @{
                if (Model.Tinhtrang == 0)
                {
                    <div style="color:red">Đang chờ xác nhận</div>
                }
                else if (Model.Tinhtrang == 1)
                {


                    <div style="color:slateblue">Đã xác nhận</div>

                }
                else
                {
                    <div style="color:red">Đang chờ xác nhận</div>

                }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thanhtoan)
        </dt>

        <dd>
            @{
                if (Model.Thanhtoan == 1)
                {
                    <div style="color:red">Thanh toán tiền mặt</div>
                }
                else if (Model.Thanhtoan == 2)
                {
                    <div style="color:slateblue">Thanh toán chuyển khoản</div>

                }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diachinhanhang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diachinhanhang)
        </dd>

    </dl>
    <h3>Chi tiết sản phẩm</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Mã sản phẩm</th>
                <th>Số lượng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var chitiet in Model.Chitietdonhang)
            {
                <tr>
                    <td>@chitiet.Masp</td>
                    <td>@chitiet.Soluong</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<p>
    <button> @Html.ActionLink("Xác nhận đơn hàng", "Xacnhan", new { id = Model.Madon }) </button>
</p>
